/* $Id: hidden.css,v 1.2 2007/08/29 17:59:46 ekes Exp $
 *
 * hidden.css
 *
 * Cascading Style Sheet for Drupal module hidden
 *
 */

div.hidden {
  background-repeat:repeat;
  border: thin solid #fbb;
  padding: .5em;
}

div.hidden .reason {
  border: thin solid red;
  padding: .5em;
  font-style: bold;
}
